@mixin flex($aling: center, $justify: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
}
//
@mixin contentImage($url) {
  &::before {
    content: url("../images/icon-#{$url}.svg");
    display: inline-block;
  }
}
// Media Query
@mixin media-breakpoint($breakpoint, $direction: min-width) {
  @media screen and ($direction: $breakpoint) {
    @content;
  }
}
