// ------------ Mobile ---------------
$desing-mobile: 480px;
//  --------------- Weigth---------------
$font-600: 600;
$font-700: 700;
// --------------- Primary ---------------
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
// ---------------Neutral ---------------
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);
