@use "../abstract/varibles" as colors;
@use "../abstract/minxis" as bx-sh;
.btn {
  padding: 1.75rem 7rem;
  margin-block: 1rem;
  background-color: colors.$pink;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  // color: ;
  // font-weight: ;
  &:hover {
    background-color: colors.$light-pink;
  }
}
