@use "../abstract/varibles" as colors_fonts;
@use "../abstract/minxis" as mobile;
@font-face {
  font-family: Open-sans-regular;
  src: url("../../asests/fonts/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open-sans-bold;
  src: url("../../asests/fonts/static/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Open-sans-semi-bold;
  src: url("../../asests/fonts/static/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: Popins;
  src: url("../../asests/fonts/static/Poppins/Poppins-Bold.ttf");
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 100%;
  hyphens: auto;
  font-family: Open-sans-regular;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
h1,
h2,
h3,
span {
  font-family: Popins;
  color: colors_fonts.$very-dark-cyan;
  letter-spacing: colors_fonts.$spacing;
}
span {
  font-size: colors_fonts.$size-5em;
  font-family: Open-sans-bold;
}
h1 {
  font-size: colors_fonts.$size-3em;
}
h2,
h3 {
  font-size: colors_fonts.$size-2-75em;
}

button {
  font-family: Open-sans-semi-bold;
}
p {
  font-size: colors_fonts.$size-1em;
  line-height: colors_fonts.$line-heigt-1-4;
  color: colors_fonts.$very-dark-cyan;
}

a {
  font-size: colors_fonts.$size-1em;
  color: colors_fonts.$very-pale-blue;
}

@include mobile.media-breakpoint(colors_fonts.$desing-mobile, max-width) {
  h1 {
    font-size: colors_fonts.$size-1-75em;
  }
  h2,
  h3 {
    font-size: colors_fonts.$size-1-45em;
  }
}
