@use "../abstract/minxis" as layout;
@use "../abstract/varibles" as colors;
.footer {
  position: relative;
  min-height: 33rem;
  padding-block: 2rem;
  padding-inline: 9rem;
  background-color: colors.$very-dark-cyan;
  @include layout.media-breakpoint(480px, max-width) {
    @include layout.contentBgTop(footer-top-mobile, -3.8rem);
  }
  &__wrapper {
    margin-top: 4rem;
    @include layout.flex(flex-start, space-between, row);
  }
  &__content {
    max-width: 32rem;
    padding-block: 2rem;
    @include layout.flex(flex-start, center);
    gap: 1.5rem;
    color: #fff;
  }
  &__logo {
    filter: brightness(10%) invert(1);
  }
  &__information {
    margin-right: 9.8rem;
    font-size: 0.95em;
    line-height: 1.7;
    color: #fff;
  }
  &__social {
    margin-top: 1rem;
  }
  &__contact {
    margin-bottom: 1rem;
    font-style: normal;
    @include layout.flex(center, flex-start, row);
    gap: 1rem;
    color: #fff;
    &--phone {
      @include layout.before-image(phone);
    }
    &--email {
      @include layout.before-image(email);
    }
  }
  &__title {
    font-size: 1.5em;
    letter-spacing: 0.09em;
  }
  &__form {
    width: 85%;
    margin-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 70% 35%;
    gap: 2.5rem;
  }

  &__textSub {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }

  &__input {
    padding-block: 0.8rem;
    padding-left: 1rem;
    font-size: 0.88em;
    color: #000;
    background-color: #fff;
    outline: solid transparent 1px;
    border-radius: 0.3rem;
  }
  &__btn {
    padding-block: 0.8rem;
    font-size: 0.95em;
    color: #fff;
    background-color: colors.$pink;
    border-radius: 0.3rem;
    opacity: 1;
    cursor: pointer;
  }
  &__list {
    min-height: 5rem;
    @include layout.flex(center, flex-start, row);
    gap: 3rem;
  }
  &__link {
    height: 100%;
    font-size: 2rem;
  }
}
