@use "../abstract/minxis" as layout;
.rating {
  padding-inline: 4rem;
  max-width: 70%;
  margin-block: 10rem;
  margin-inline: auto;
  @include layout.flex($direction: row, $justify: space-between);
  @include layout.media-breakpoint(480px, max-width) {
    @include layout.flex();
  }
  gap: 10rem;
  &__information {
    position: relative;
    &--communities {
      @include layout.contentImage(communities);
      @include layout.contentText("Communities Formed");
    }
    &--messages {
      @include layout.contentImage(messages);
      @include layout.contentText("Messages Sent");
    }
  }
}
